<p-card header="Acceso al CRUD de Planetas" styleClass="p-mb-3 mt-5">
  <h2>Hola Bienvenido</h2>
  <p>
    Si deseas acceder al CRUD de Planetas, por favor da clic en la sección de planetas
    o <a href="/planetas">haz clic aquí</a>.
  </p>
  <p>
    El CRUD te permite realizar las siguientes acciones:
  </p>
  <ul>
    <li><strong>C</strong>rear: Agregar nuevos planetas al sistema.</li>
    <li><strong>R</strong>ecuperar: Ver los detalles de los planetas existentes.</li>
    <li><strong>U</strong>pdate (Actualizar): Modificar la información de un planeta ya existente. En este caso específico, el update es para agregar un planeta a favoritos.</li>
    <li><strong>D</strong>eliminar: Eliminar planetas del sistema si ya no son necesarios.</li>
  </ul>


</p-card>
